[user]
    name = Erdal TAŞKESEN
    email = erdal@taskesen.me
    signingKey = 59A48E85C4A36006

[help]
    autocorrect = 1

[core]
    excludesfile = ~/.dotfiles/git/.gitignore

[init]
    defaultBranch = main

[commit]
    template = ~/.dotfiles/git/.gittemplate
    gpgsign = true

[pull]
    ff = only
