[include]
    path = ~/.dotsecret/.gitconfig

[help]
    autocorrect = 1

[core]
    excludesfile = ~/.dotfiles/git/.gitignore

[init]
    defaultBranch = main

[commit]
    template = ~/.dotfiles/git/.gittemplate
    gpgsign = true

[pull]
    ff = only
